python-dotenv
pydantic
bcrypt
cffi>=1.12
cryptography>=43.0.3
fastapi
python-jose
python-multipart
SQLAlchemy<2.0.36
uvicorn
passlib
langchain>=0.1.0
langchain-core>=0.1.40
langchain-community>=0.0.21
langchain-experimental
langchain_openai>=0.2.8
langchain_ollama>=0.2.0
langchain_chroma>=0.1.4
flashrank
psycopg2
unstructured-client<0.26.0,>=0.25.0
python-magic
poppler-utils
langchain-unstructured>=0.1.5
langgraph
gpt_researcher
langgraph-cli
weasyprint
json5
loguru
ffmpeg
podcastfy
wsproto